body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  background-color: rebeccapurple;
}

#game {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  box-sizing: border-box;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: lightgray;
}

.ship {
  background-color: green;
  cursor: move;
  display: flex;
  padding: 0;
  margin: 0;
  height: 40px;
}

.ship-part {
  width: 40px;
  height: 40px;
  background-color: green; /* Color for ship parts */
  border: none;
  box-sizing: border-box;
  border: 1px solid black;
}

.dropzone {
  border: 2px dashed green;
}

#ships-container,
#ships-container-player2 {
  display: flex;
  flex-wrap: wrap; /* Ensure ships wrap to the next row */
  gap: 5px; /* Space between ships */
  width: 100%; /* Take full width */
  max-width: 400px; /* Set a maximum width */
  padding: 0;
  margin-top: 10px; /* Space between ships and the board */
  min-height: 160px; /* Set a minimum height to keep alignment */
}

.player-container {
  display: flex;
  flex-direction: column; /* Stack board and ships vertically */
  align-items: center; /* Center elements horizontally */
}

.players {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 10px;
}
